{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}収支記録作成{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <dev>
      <label for="f_date">日付</label>
      <input type="date" name="f_date" id="f_date" required>
    </dev>

    <br>

    <dev>
      <label for="f_amount">金額(円)</label>
      <input type="number" name="f_amount", id="f_amount" required>
    </dev>

    <br>

    <dev>
      <label for="f_purpose">用途</label>
      <input type="text" name="f_purpose" id="f_purpose" required>
    </dev>

    <br>

    <dev>
      <label for="f_note">メモ</label>
      <textarea name="f_note" id="f_note"></textarea>
    </dev>

    <br>

    <input type="submit" value="作成">
  </form>
{% endblock %}